/* 
  清除默认样式
*/

h1,h2,h3,h4,h5,h6,ul,ol,dl,p {
  padding: 0;
  margin: 0;
}

body,html {
  overflow-y: hidden;
  overflow-x: hidden;
}

textarea {
  resize: none !important;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}


#nprogress .bar {
  background: #c3f909 !important;
}